.card {
    background: linear-gradient(145deg, rgba(0, 0, 255, 0.1), transparent, rgba(130, 0, 130, 0.1));
    background-color: rgba(255, 255, 255, 0.05);
    border: solid 1px rgb(15, 15, 50);
    padding: 1.5rem;
    border-radius: 0 15px 0 15px;
    box-shadow: 0 0 30px rgba(108, 0, 130, 0.3);
    transition: all 0.3s ease;
}

.card:hover {
    translate: 0 -5px;
    box-shadow: 0 0 30px rgba(119, 0, 130, 0.6);
}

.section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: white;
    position: relative;
    background: linear-gradient(45deg, #00d4ff, #ff00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
}

.section-title::after {
    content: '';
    width: 100%;
    height: 4px;
    background: linear-gradient(45deg, #00d4ff, #ff00ff);
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(0, 212, 255, 0.5);
}

button {
    background: none;
    border: none;
}

a {
    color: white;
    text-decoration: none;
}

.btn-gradient, .btn-outline {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-gradient {
    background: linear-gradient(45deg, #00d4ff, #ff00ff);
    box-shadow: 0 0 20px -4px var(--primary-color);
}
.btn-outline {
    border: solid 1px var(--primary-color);
    box-shadow: 0 0 20px -4px var(--secondary-color);
}

.btn-gradient:hover, .btn-outline:hover {
    scale: 1.05;
    translate: 0 -5px;
}

.btn-gradient:hover {
    background: linear-gradient(45deg, #ff00ff, #00d4ff);
    box-shadow: 0 0 20px -4px var(--primary-color);
}
