html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: black;
    color: white;
}

:root {
    --primary-color: #008cff;
    --secondary-color: #e100ff;
    --muted-color: rgb(150, 150, 150);
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 5%;
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header .logo {
    font-size: 2rem;
    color: var(--secondary-color);
    font-weight: 600;
}

header .logo span {
    color: var(--primary-color);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.navbar .nav-list li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 2px 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.navbar .nav-list li a:hover {
    background: var(--secondary-color);
}

/* section */

section {
    padding: 2rem 5%;
}

.about-section,
.skills-section {
    background: #040014;
}

/* Hero Section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero-section .hero-bg1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #00d4ff, #ff00ff);
    opacity: 0.2;
    z-index: -1;
    clip-path: polygon(0 0, 0 50%, 50% 0);
}

.hero-section .hero-bg2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #00d4ff, #ff00ff);
    opacity: 0.2;
    z-index: -1;
    clip-path: polygon(100% 50%, 50% 100%, 100% 100%);
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-text h2 {
    font-size: 2rem;
}

.hero-text h1 {
    font-size: 4rem;
    background: linear-gradient(45deg, #00d4ff, #ff00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
}

.hero-text span {
    color: var(--secondary-color);
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    position: relative;
}

.hero-image::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(45deg, #00d4ff, #ff00ff);
    opacity: 0.2;
    z-index: -1;
    border-radius: 50%;
    filter: blur(20px);
    animation: animate-spin 3s ease-in-out infinite;
}

.hero-image-content {
    position: relative;
    max-width: 400px;
    max-height: 400px;
    aspect-ratio: 1/1;
    transition: transform 0.4s ease;
}

.hero-image-content:hover {
    transform: scale(1.05) rotate(-5deg);
}

.hero-image-content::after {
    content: '';
    position: absolute;
    inset: 0;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background: linear-gradient(135deg, #00d4ff, #ff00ff, #ff6600);
    opacity: 0.4;
    z-index: -1;
    animation: float 5s ease-in-out infinite;
}

.hero-image-content img {
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 50%);
    object-fit: cover;
    border-radius: inherit;
    animation: float 5s ease-in-out infinite;
}

/* About */
.about-section .about-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex: 1;
}

/* Skills & Technologies */
.skills-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.skills-content .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1;
}

.skills-content .card p {
    font-size: 1rem;
    color: var(--muted-color);
}

.tech-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex: 1;
    overflow: hidden;
}

.tech-content .tech-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    overflow: hidden;
    padding: 2rem 0;
}

.tech-content .tech-logos .scroll-left {
    display: flex;
    gap: 1rem;

}

.tech-content .tech-logos img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    transition: all 0.3s ease;
}

.tech-content .tech-logos img:hover {
    scale: 1.2;
}

/* Projects */

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.project-cards .card {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1;
}

.project-cards .card p {
    font-size: 1rem;
    color: var(--muted-color);
    margin-bottom: 1rem;
}

/* contact */

.contact-section {
    margin-bottom: 5rem;
}

.contact-logos {
    display: flex;
    gap: 1rem;
}

.contact-logo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
    background: linear-gradient(45deg, #00d4ff, #ff00ff);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    box-shadow: 0 0 20px -4px var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.contact-logo-item:hover {
    background: linear-gradient(45deg, #ff00ff, #00d4ff);
    scale: 1.05;
    box-shadow: 0 0 20px -4px var(--secondary-color);
    transform: translateY(-5px);
}


footer {
    width: 100%;
    padding: 2rem 5%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1000;
}