@media screen and (max-width: 678px) {
    section {
        padding: 2rem 10%;
    }
    .section-title {
        font-size: 1.5rem;
    }

    .hero-section {
        height: 100vh;
    }
    .hero-content {
        flex-direction: column-reverse;
        width: 100%;
    }
    .hero-image {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-image::before {
        width: 200px;
        height: 200px;
    }
    .hero-image-content {
        max-width: 200px;
        max-height: 200px;
    }
    .hero-text h1 {
        font-size: 2rem;
    }
    .hero-text h2 {
        font-size: 1.5rem;
    }
    .hero-text p {
        font-size: 1rem;
    }

    .contact-logos {
        flex-direction: column;
        gap: 2rem;
    }

}